html {
    scroll-behavior: smooth;
    
  }

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
*{
    padding: 0;
    margin: 0;
}




:root {
--bodyFont: 'Work Sans', sans-serif;
    --wildWatermelon: #ff4f87;
    --fuelYellow: #f0a035;
    --primary: #1b1b1b;
    --body: #000000;
    --light: #eaebec;
    --dark: #000;
    ---shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}

body{
    line-height: 1.5;
    color: var(--body);
    font-family: var(--bodyFont);
    background-color:#eaebec;
    font-size: 1.1rem;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6,.display-4,.logo{
font-weight: 400;
font-family: 'Zen Antique Soft', serif;
}

h1{
    font-size: calc(1.65rem + 2.7vw);
}
.pr{
    padding-right: .4rem;
}



.card{
background-color: white;
 border: none;
 height: 100%;
}



.card:hover{

    box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
	-webkit-transition:  .3s ease-out; 
       -moz-transition:  .3s ease-out; 
         -o-transition:  .3s ease-out; 
            transition:  .3s ease-out; 
}

a{
    color: var(--primary);
    text-decoration: none;
}

.nav-link {
    font-weight: 400;
    font-size: 25px;
}

.logo{
    font-size: 1.8rem;

}

.display-4{
    font-size: calc(1.55rem + 2.7vw);
    font-weight: 400;

  
}

input[type="search"]{
    border-radius: 0;
    border:none;
}

.bx{
  font-size: 1.2rem;
}

.btn{
    border-radius: 0;
    padding: 12px 18px;
    border-width: 2px;
}

.btn-dark {
    color: white;
    background-color: black; 
    border-color: black; 
}

.recipe-btn{
    width: 100%;
}

.recipe-label{
    border-bottom: 1px solid #d8d8d8;
    text-transform: capitalize;
    font-size: 1.5rem;
}



section#recipe-results{
    padding: 100px 0 100px 0;
}


.txt-flow{
    overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.img-fluid{
    width: 100%;
    height: 75%;
    object-fit: contain;
    object-position: top;
  
}

.temp-btn{
    min-width: 55px;
    width: auto;
    padding: 7px 15px;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
}





.height {
    height: 100vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.02)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: black;
}

