html {
    scroll-behavior: smooth;
    
  }

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
}




:root {
--bodyFont: 'Work Sans', sans-serif;
    --wildWatermelon: #ff4f87;
    --fuelYellow: #f0a035;
    --primary: #1b1b1b;
    --body: #000000;
    --light: #eaebec;
    --dark: #000;
    ---shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
    --defaultSize:1.1rem;
    --secondarySize:.75rem;
    --headlineSize:1.6rem;
}

body{
    line-height: 1.5;
    color: var(--body);
    font-family: var(--bodyFont);
    background-color:#eaebec;
    font-size: var(--defaultSize);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6,.display-4,.logo{
font-weight: 400;
font-family: 'Nunito', sans-serif;
}

h1{
    font-size: calc(1.65rem + 2.7vw);
}
.pr{
    padding-right: .4rem;
}



.card{
background-color: white;
 border: none;
 height: 100%;
 box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.1);
 cursor: pointer;
}



.card:hover{

    box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
	-webkit-transition:  .3s ease-out; 
       -moz-transition:  .3s ease-out; 
         -o-transition:  .3s ease-out; 
            transition:  .3s ease-out; 
}

a.card-link{
    color: var(--primary);
    text-decoration: none;
}


.logo{
    font-size: var(--headlineSize);

}

.display-4{
    font-size: calc(1.55rem + 2.7vw);
    font-weight: 400;

  
}


.bx{
  font-size: var(--headlineSize);
  color: white;
}




.recipe-label{
    border-bottom: 1px solid #d8d8d8;
    text-transform: capitalize;
}


.defaultSize{
    font-size: var(--defaultSize);
}

.secondarySize{
    font-size: var(--secondarySize);
    font-weight: 400;
    color: rgb(236, 87, 0);
}

.headlineSize{
    font-size: var(--headlineSize);
}


section#recipe-results{
    padding: 75px 0 100px 0;
}


.txt-flow{
    overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;

}

.img-fluid{
    width: 100%;
    object-fit: contain;
    object-position: top;
  
}



.navbar-dark{
    background-color: black;
}






